/******************************
    General-purpose classes
******************************/

.marg-top-1x{
    margin-top: 1em;
}

.marg-bottom-1x{
    margin-bottom: 1em;
}

.marg-top-2x{
    margin-top: 2em;
}

.marg-bottom-2x{
    margin-bottom: 2em;
}

/******************************
    Callouts
******************************/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout-default{
    border-left-color: #7f8c8d;
}

.bs-callout-default{
    color: #7f8c8d;
}


.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-success {
    border-left-color: #27ae60;
}

.bs-callout-success h4 {
    color: #27ae60;
}


/******************************
    Album details
******************************/
.band-detail img, .album-detail img{
    width: 100% !important;
    height: 100% !important;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

.band-detail img:hover, .album-detail img:hover{
    opacity: 0.8;
    -moz-opacity: 0.8;
}