/******************************
    General-purpose classes
******************************/

body{
    background: #000 url("../../assets/img/metallica.png") no-repeat top;
    font-family: 'Open Sans', sans-serif;
    padding-top: 300px;
    color: #ddd;
}

body a{
    color: #FE9A2E;
}

body a:hover{
    color: #CD710E;
}

footer{
    padding: 10px 0 !important;
}

input{
    background-color: #f4f4f4 !important;
}

.table-striped>tbody>tr{
    border-color: #FE9A2E;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: inherit;
    border-color: #FE9A2E;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    //border-top: 1px solid #F5DA81;
}

.marg-top-1x{
    margin-top: 1em;
}

.marg-bottom-1x{
    margin-bottom: 1em;
}

.marg-top-2x{
    margin-top: 2em;
}

.marg-bottom-2x{
    margin-bottom: 2em;
}

.marg-left-1x{
    margin-left: 1em;
}

.marg-left-2x{
    margin-left: 2em;
}

.pad-bottom-1x{
    padding-bottom: 1em !important;
}

.text-orange{
   color: #FE9A2E;
}

.text-yellow{
    color: #F5DA81;
}

.text-gray-light{
    color: #bdbdbd;
}

h3.page-title{
    font-weight: 200 !important;
    color: #FE9A2E;
}

.table-responsive{
    border: none !important;
}

/******************************
    Navigation
******************************/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #fff;
    color: #FE9A2E;
}

/******************************
    Callouts
******************************/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background: #ededed;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout table{
    color: #848484;
}


.bs-callout-default{
    border-left-color: #7f8c8d;
}

.bs-callout-default h4{
    color: #7f8c8d;
}


.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-gray {
    border-left-color: #777;
}

.bs-callout-gray h4 {
    color: #777;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-success {
    border-left-color: #27ae60;
}

.bs-callout-success h4 {
    color: #27ae60;
}


/******************************
    Image of bands and albums
******************************/

table img{border: 2px solid #ddd;}

.band-detail img, .album-detail img{
    width: 100% !important;
    height: 100% !important;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

.band-detail img:hover, .album-detail img:hover{
    opacity: 0.8;
    -moz-opacity: 0.8;
}


/******************************
    Tiles for albums
******************************/
.thumbnail .caption h4 a{
    color: #31708f;
    font-weight: 400;
}

.thumbnail .caption .album-detail-year{
    font-weight: 100 !important;
    text-space: 2px;
    color: #848484;
}

.thumbnail .caption p{
    font-weight: 200;
    color: #A4A4A4;
}

.thumbnail .caption ul li{
    color: #A4A4A4;
}


/******************************
   Search input
******************************/
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



/* Class when hovering on stars */
.fav-class:hover{cursor:pointer;}
