/******************************
    General-purpose classes
******************************/

body{
    /*
    background: url("../../assets/img/metallica-2.jpg") top right no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    */
}

.marg-top-1x{
    margin-top: 1em;
}

.marg-bottom-1x{
    margin-bottom: 1em;
}

.marg-top-2x{
    margin-top: 2em;
}

.marg-bottom-2x{
    margin-bottom: 2em;
}

/******************************
    Callouts
******************************/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background: #fafafa;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout-default{
    border-left-color: #7f8c8d;
}

.bs-callout-default{
    color: #7f8c8d;
}


.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-success {
    border-left-color: #27ae60;
}

.bs-callout-success h4 {
    color: #27ae60;
}


/******************************
    Image of bands and albums
******************************/
.band-detail img, .album-detail img{
    width: 100% !important;
    height: 100% !important;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
}

.band-detail img:hover, .album-detail img:hover{
    opacity: 0.8;
    -moz-opacity: 0.8;
}


/******************************
    Tiles for albums
******************************/
.thumbnail .caption h4{
    //color: #465157;
    font-weight: 400;
}

.thumbnail .caption .album-detail-year{
    font-weight: 100 !important;
    text-space: 2px;
    color: #848484;
}

.thumbnail .caption p{
    font-weight: 200;
    color: #A4A4A4;
}

.thumbnail .caption ul li{
    color: #A4A4A4;
}

/*
.list-album-tiles{
    list-style: none;
}

.list-album-tiles li{
    padding: 0px !important;
    margin-right: 2em !important;
    margin-bottom: 2em !important;
    width: 190px;
    min-height: 250px;
    height: auto;
    border: 1px solid #ddd;
}

.list-album-tiles li:hover{
    opacity: 0.8;
    -moz-opacity: 0.8;
}

.list-album-tiles li .album-tile-img{
    padding: 0 !important;
    margin: 0 !important;
    width:190px !important;
    height: 190px !important;
}

.list-album-tiles li .album-tile-content{
    padding: 1em !important;
    margin: 0 !important;
    background: #f1f1f1;
    min-height: 60px;
    height: auto;
}

.list-album-tiles li .album-tile-content h4{
    color: #465157;
    font-weight: 400;
    font-size: 1.2em !important;
    text-align: center;
}
*/


