<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="thumbnail">
        <img ng-src="assets/img/{{::album.image}}" ng-alt="{{::album.title}}">
        <div class="caption">
            <h4><a href="#/albums/{{album.id}}/details" title="Click to detail">{{::album.title}}</a></h4>
            <span class="album-detail-year">{{::album.year}}</span>
            <p>{{::album.genre.name}}</p>
            <ratings id="album.id" kind="album"></ratings>
            <div class="marg-top-1x">
                <a class="marg-top-2x text-info" href="{{youtubeSearch}}{{::album.title}}" title="Search on Youtube" target="_blank"><i class="fa fa-2x fa-play-circle-o"></i></a>
            </div>
        </div>
    </div>
</div>
