<h3 class="page-title">Albums</h3>
<div class="row marg-bottom-2x">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-search text-muted"></i>
            <input type="text" class="form-control" ng-model="search[searchField]" placeholder="Type to filter" />
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <!-- Use directive "albumRow", that includes a <tr>, in an ng-repeat -->
            <tr album-row ng-repeat="album in albums | orderBy:'title' | filter:search" album="album">
            </tr>
        </tbody>
    </table>
</div>