<tr>
    <td style="width:10%">
        <img class="img-circle" width="80" height="80" ng-src="assets/img/{{::album.image}}" ng-alt="{{::album.title}}" />
    </td>
    <td style="width:25%">
        <a ng-href="#/albums/{{::album.id}}/details" title="Click to detail view">{{::album.title}}</a>
    </td>
    <td style="width:20%">
        {{::album.genre.name}}
    </td>
    <td style="width:15%">
        {{::album.year}}
    </td>
    <td style="width:10%">
        <ratings id="album.id" kind="album"></ratings>
    </td>
</tr>