<tr>
    <td style="width:15%">
        <img class="img-circle" width="70" height="70" src="assets/img/{{::album.image}}" alt="{{::album.title}}" />
    </td>
    <td style="width:30%">
        {{::album.title | albumBandFilter:album.band.name}}
    </td>
    <td style="width:20%">
        {{::album.genre.name}}
    </td>
    <!--
    <td>
        {{::album.band.name}}
    </td>
    -->
    <td style="width:15%">
        {{::album.year | albumReleasedFilter}}
    </td>
    <td style="width:10%">
        Vote
    </td>
    <td style="width:5%">
        <span favorites id="album.title" kind="album">
        </span>
    </td>
</tr>