<tr>
    <td style="width:10%">
        <img class="img-circle" width="70" height="70" ng-src="assets/img/{{::band.image}}" ng-alt="{{::band.name}}" />
    </td>
    <td style="width:20%"><a ng-href="#/bands/{{::band.id}}/details" title="Click to detail view">{{::band.name}}</a></td>
    <td style="width:35%">
        <ul>
            <li ng-repeat="member in band.members | orderBy:'name'">{{::member.name}}, <small class="text-muted">{{::member.instruments | bandMemberInstrumentFilter}}</small></li>
        </ul>
    </td>
    <td style="width:30%">{{::band.origin | bandFormedFilter}}</td>
    <td style="width:5%">
        <span favorites id="band.id" kind="band">
        </span>
    </td>
</tr>