<tr>
    <td style="width:25%">
        {{genre.name}}
    </td>
    <td style="width:70%">
        <ul>
            <li ng-repeat="album in genre.albums | orderBy:'title'">
                <a ng-href="#/albums/{{::album.id}}/details">{{::album.title}}</a> <small class="text-muted">by <a ng-href="#/bands/{{::album.band.id}}/details">{{::album.band.name}}</a></small>
            </li>
        </ul>
    </td>
    <td style="width:5%">
        <span favorites id="genre.id" kind="genre">
        </span>
    </td>
</tr>